.container{
    padding: 0px 0;
    margin: 0px 0;
}

.header-image{
    display: block;
    width: 100%;
    text-align: center;
    background: url(./img/alfombra-2.jpg) no-repeat center center scroll;
    height: 250px;
    margin-top: 89px;
    /* max-width: 1000px; */
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}

.garantia-sello{
    position: absolute;
    
    height: 120px;
    top: 252px;
}

.headline{
    display: flex;
    justify-content: center;
    align-items: center;
    height: inherit;
    
}

.headline h1 {
    font-size: 40px;
    background: rgba(255,255,255,0.6);
    padding: 0px 10px;
}

.headline h2 {
    font-size: 23px;
    background: rgba(255,255,255,0.6);
    padding: 0px 10px;
}


.headline-content {
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 20px;
    padding-bottom: 20px;
}



footer {
    margin: 50px 0;
}

@media(max-width:1200px) {
    .featurette-divider {
        margin: 50px 0;
    }

    /* .featurette-image.pull-left {
        margin-right: 20px;
    } */

    /* .featurette-image.pull-right {
        margin-left: 20px;
    } */

    .featurette-heading {
        font-size: 35px;
    }
}

@media(max-width:991px) {
    .featurette-divider {
        margin: 40px 0;
    }

    /* .featurette-image {
        max-width: 50%;
    } */

    /* .featurette-image.pull-left {
        margin-right: 10px;
    } */

    /* .featurette-image.pull-right {
        margin-left: 10px;
    } */

    .featurette-heading {
        font-size: 30px;
    }

    .garantia-sello{
        right: 0px;
    }
}

@media(max-width:768px) {
    .container {
        margin: 0 15px;
    }

    .featurette-divider {
        margin: 40px 0;
    }

    .featurette-heading {
        font-size: 25px;
    }

    .garantia-sello{
        right: 0px;
    }
}

@media(max-width:668px) {
    .featurette-divider {
        margin: 30px 0;
    }

    .garantia-sello{
        right: 0px;
    }
}

@media(max-width:575px) {
    .header-image{
        height: 210px;
    }

    .garantia-sello{
        top: 230px;
        right: 0px;
    }
}

@media(max-width:395px) {
    

    .garantia-sello{
        height: 90px;
        top: 252px;
        right: 0px;
    }
}


.img-circle {
    border-radius: 50%;
    height: 200px;
}

.featurette{
    text-align: center;
}

.img-ro {
    border-radius: 15%;
    height: 120px;
}

.padding-fixed{
    padding-left: 15px;
    padding-right: 15px;
}

.extra-padding{
    padding-left: 35px;
}

.width-fix{
    height: 200px;
    margin: 0 auto;
}

.fixed-phrase{
    margin-top: 50px;
    text-align: center;
}

.img-center-fix{
    margin: 0 auto;
    height: 125px;
}

.divider-width{
    width: 100%;
    margin-top: 40px;
}

.form-section{
    width: 100%;
    margin-bottom: 25px;
}

.submit-custom{
    width: 50%;
    float: right;
}