.flexContainer{
    display: flex;
    justify-content: center;
    background-color: DodgerBlue
  }
  
  .center {
    margin: auto;
    width: 50%;
    /*border: 3px solid green;*/
    padding: 10px;
  }
  
  #logo-limpieza{
    height: 80px;
  }
  
  #main-navigation{
    padding-top: 0px;
  }