.flexContainer{
    display: flex;
    justify-content: center;
    background-color: DodgerBlue
  }
  
  .center {
    margin: auto;
    width: 50%;
    /*border: 3px solid green;*/
    padding: 10px;
  }
  
  #logo-limpieza{
    height: 80px;
  }
  
  #main-navigation{
    padding-top: 0px;
  }

  .fa-phone{
    color: forestgreen;
  }

  #phone-number{
    font-size: 14px;
  }

  .center{
    width: 60%;
  }

  .navbar-nav a{
    margin: 0 auto;
  }